@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --cor-de-fundo:#1E1E1E;
    --laranja:#ffbc57;
    --branco:#FFFFFF;
    --botao-ativo:#15b3db49;
    --botao-inativo:rgba(23, 167, 224, 0.5);
    --texto-fundo:rgba(0, 0, 0, 0.3);
    
}
body{
    font-family: "Playfair Display", serif;
  font-weight: 400;
 font-style: normal;

}

.cabecalho-principal{

    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

    .cabecalho-principal span{
color:var#ffbc57
 }

 .principal-botoes{
    font-size: 18px;
    background-color: var(--botao-inativo);
 }

    .botao{

        font-size: 18px;
        background-color: var(--botao-inativo);
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items:center ;
     color: var(--branco);
     width: 100%;
     border-bottom: 4px solid var(--botao-ativo);
     border-left: 2px solid var(--botao-ativo);
     border-right: 2px solid var(--botao-ativo);
     border-top: none;

    }

    .principal-botoes{

        display: block;
    }
.ativo{

    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);

}

.botao:first-child{

    border-radius: 40px 40px 0 0;
    
    
        }

    @media screen and (min-width:768px){
.principal-botoes{

    display: flex;
}

   
    .botao:first-child{

border-radius: 40px 0 0 0;


    }
    .botao:last-child{

        border-radius: 0 40px 0 0;
    }
    }